{% extends 'layout.html' %}
{% load static %}

{% block head %}

<title>Addresses</title>
<link rel="stylesheet" href="{% static 'styles/user-dashboard.css' %}">
<link rel="stylesheet" href="{% static 'styles/user-address.css' %}">


{% endblock %}


{% block body %}


<div class=" container container-dashboard  px-5 py-5 mx-auto">

  <div class="container-fluid px-0">

    <!-- form -->
    <div class="container content">
      <div class="row">
        <div class=" col-12 col-lg-3 p-0 mb-5">
          {% include 'include/sidebar-dashboard.html' %}
        </div>
        <div class=" col-12 col-lg-9 ps-lg-5 card-container px-0">

          <div class="row row-cols-1 profile-header"> 
            
          </div>

        
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-12 pb-1 w-100">
              <div class="label-box ">
                <button type="button" hidden id="newAddressButton" data-bs-toggle="modal" data-bs-target="#addNewAddress">
                </button>

                  <label for="newAddressButton" class="new-address">
                    <div class="address border px-3 py-2 new-box">
                      <div class=" my-5 d-flex align-items-center justify-content-center active">
                          <iconify-icon icon="ep:map-location" width="24"></iconify-icon>
                          <h3 class="me-2 plus-button"><sup>+</sup></h2>
                          <strong>Add new address</strong>
                      </div>
                    </div>
                  </label>

                <!-- add new address modal -->
                <div class="modal fade" id="addNewAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header my-3 ">
                        <p class="ms-4 ps-2 mt-2" id="staticBackdropLabel">ADD NEW ADDRESS</p>
                        <button type="button" class="btn-close me-4 pe-2" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body px-5">
                        <form action="{% url 'add-new-address' %}" method="POST">
                          {% csrf_token %}
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control " name='email' id="floatingemail" placeholder=" " required>
                            <label for="floatingemail">Email id
                              <span class="text-danger"><small> *</small></span>
                            </label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control " name='mobile' id="floatingMobileNumber" placeholder=" " required
                              minlength="10" maxlength="10" pattern="\d{10}" title="Please enter a Valid 10 digit Mobile Number">
                            <label for="floatingMobileNumber">Mobile Number
                              <span class="text-danger"><small> *</small></span>
                            </label>
                          </div>
                          <div class="d-flex form-floating-double justify-content-between">
                            <div class="form-floating col-6 mb-3">
                              <input type="text" class="form-control " name='first_name' id="floatingFirstName" placeholder=" " required>
                              <label for="floatingFirstName">First Name
                                <span class="text-danger"><small> *</small></span>
                              </label>
                            </div>
                            <div class="form-floating col-6 mb-3">
                              <input type="text" class="form-control " name='last_name' id="floatingLastName" placeholder=" ">
                              <label for="floatingLastName">Last Name
                              </label>
                            </div>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control " name='address' id="floatingAddress" placeholder=" " required>
                            <label for="floatingAddress">Address
                              <span class="text-danger"><small> *</small></span>
                            </label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control " name='landmark' id="floatingInput" placeholder=" ">
                            <label for="floatingInput">Landmark (optional)
                            </label>
                          </div>
                          <div class="d-flex form-floating-double justify-content-between">
                            <div class="form-floating col-6 mb-3">
                              <input type="text" class="form-control " name='city' id="floatingCity" placeholder=" " required>
                              <label for="floatingCity">City
                                <span class="text-danger"><small> *</small></span>
                              </label>
                            </div>
                            <div class="form-floating col-6 mb-3">
                              <input type="number" class="form-control " name='pin_code' id="floatingPincode" placeholder=" " required
                                minlength="6" maxlength="6" pattern="\d{10}" title="Please enter Valid 6 digit PIN code">
                              <label for="floatingPincode">PIN code
                                <span class="text-danger"><small> *</small></span>
                              </label>
                            </div>
                          </div>
                          <div class="d-flex form-floating-double justify-content-between">
                            <div class="form-floating col-6 mb-3">
                              <input type="text" class="form-control " name='state' id="floatingState" placeholder=" " required>
                              <label for="floatingState">State
                                <span class="text-danger"><small> *</small></span>
                              </label>
                            </div>
                            <div class="form-floating col-6 mb-3">
                              <input type="text" class="form-control " name='country' id="floatingCountry" placeholder=" " required>
                              <label for="floatingCountry">Country
                                <span class="text-danger"><small> *</small></span>
                              </label>
                            </div>
                          </div>
                          <div class=" d-flex justify-content-center ">
                            <div class=" col-12 ">
                              <div class=" ">
                                <div class=" px-0 align-self-center my-3">
                                  <div class=" d-flex justify-content-between">
                                    <button type="button" class="btn btn-invert py-2 my-2" data-bs-dismiss="modal">CANCEL</button>
                                    <button type="submit" class=" btn py-2 my-2  ">SAVE ADDRESS</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% for address in addresses %}
              <div class="col-12 mb-1 w-100 ">
                <div class="label-box">
                  <div class="address border p-3 ">
                    <div>
                      <h6 class="pb-0">{{ address.full_name }}</h6 class="mb-2">
                      {{ address.address }},
                      {{ address.landmark }} <br>
                      {{ address.city }},
                      {{ address.pin_code }},
                      {{ address.state }},
                      {{ address.country }} <br> <br>
                      Mobile : {{ address.mobile }} <br>
                      <div class="d-flex justify-content-between">
                        Email : {{ address.email }}
                        <div class="d-flex justify-content-end">
                          <button type="button" hidden id="editAddress-{{address.id}}" data-bs-toggle="modal" data-bs-target="#editAddress{{address.id}}">
                          </button>
                          
                          <label for="editAddress-{{address.id}}" class="action-address h1 me-2 small">
                            <span>Edit</span>
                          </label>

                          <a onclick="deleteAddress(event)" href="{% url 'delete-address' address.id %}"  class="no-decoration h1 small">Delete</a>
                        </div>
                      </div>

                      <!-- edit address modal -->
                      <div class="modal fade" id="editAddress{{address.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header my-3 ">
                              <p class="ms-4 ps-2 mt-2" id="staticBackdropLabel">EDIT YOUR ADDRESS</p>
                              <button type="button" class="btn-close me-4 pe-2" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-5">
                              <form action="{% url 'edit-address' address.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                  <input type="email" class="form-control " name='email' value="{{ address.email }}" id="floatingemail" placeholder=" " required>
                                  <label for="floatingemail">Email id
                                    <span class="text-danger"><small> *</small></span>
                                  </label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input type="text" class="form-control " name='mobile' value="{{ address.mobile }}" id="floatingMobileNumber" placeholder=" " required
                                    minlength="10" maxlength="10" pattern="\d{10}" title="Please enter a Valid 10 digit Mobile Number">
                                  <label for="floatingMobileNumber">Mobile Number
                                    <span class="text-danger"><small> *</small></span>
                                  </label>
                                </div>
                                <div class="d-flex form-floating-double justify-content-between">
                                  <div class="form-floating col-6 mb-3">
                                    <input type="text" class="form-control " name='first_name' value="{{ address.first_name }}" id="floatingFirstName" placeholder=" "
                                      required>
                                    <label for="floatingFirstName">First Name
                                      <span class="text-danger"><small> *</small></span>
                                    </label>
                                  </div>
                                  <div class="form-floating col-6 mb-3">
                                    <input type="text" class="form-control " name='last_name' value="{{ address.last_name }}" id="floatingLastName" placeholder=" ">
                                    <label for="floatingLastName">Last Name
                                    </label>
                                  </div>
                                </div>
                                <div class="form-floating mb-3">
                                  <input type="text" class="form-control " name='address' value="{{ address.address }}" id="floatingAddress" placeholder=" " required>
                                  <label for="floatingAddress">Address
                                    <span class="text-danger"><small> *</small></span>
                                  </label>
                                </div>
                                <div class="form-floating mb-3">
                                  <input type="text" class="form-control " name='landmark' value="{{ address.landmark }}" id="floatingInput" placeholder=" ">
                                  <label for="floatingInput">Landmark (optional)
                                  </label>
                                </div>
                                <div class="d-flex form-floating-double justify-content-between">
                                  <div class="form-floating col-6 mb-3">
                                    <input type="text" class="form-control " name='city' value="{{ address.city }}" id="floatingCity" placeholder=" " required>
                                    <label for="floatingCity">City
                                      <span class="text-danger"><small> *</small></span>
                                    </label>
                                  </div>
                                  <div class="form-floating col-6 mb-3">
                                    <input type="number" class="form-control " name='pin_code' value="{{ address.pin_code }}" id="floatingPincode" placeholder=" " required
                                      minlength="6" maxlength="6" pattern="\d{10}" title="Please enter Valid 6 digit PIN code">
                                    <label for="floatingPincode">PIN code
                                      <span class="text-danger"><small> *</small></span>
                                    </label>
                                  </div>
                                </div>
                                <div class="d-flex form-floating-double justify-content-between">
                                  <div class="form-floating col-6 mb-3">
                                    <input type="text" class="form-control " name='state' id="floatingState" value="{{ address.state }}" placeholder=" " required>
                                    <label for="floatingState">State
                                      <span class="text-danger"><small> *</small></span>
                                    </label>
                                  </div>
                                  <div class="form-floating col-6 mb-3">
                                    <input type="text" class="form-control " name='country' value="{{ address.country }}" id="floatingCountry" placeholder=" " required>
                                    <label for="floatingCountry">Country
                                      <span class="text-danger"><small> *</small></span>
                                    </label>
                                  </div>
                                </div>
                                <div class=" d-flex justify-content-center ">
                                  <div class=" col-12 ">
                                    <div class=" ">
                                      <div class=" px-0 align-self-center my-3">
                                        <div class=" d-flex justify-content-between">
                                          <button type="button" class="btn btn-invert py-2 my-2" data-bs-dismiss="modal">CANCEL</button>
                                          <button type="submit" class=" btn py-2 my-2  ">SAVE ADDRESS</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      
        </div>
      </div>
    </div>


  </div>
</div>



{% endblock %}


{% block script %}



{% endblock %}