{% extends 'layout.html' %}
{% load static %}

{% block head %}

    <title>Forgot Password</title>
    <link href="{% static 'styles/login.css' %}" rel="stylesheet">

{% endblock %}


{% block body %}


    
    <main class="container vh-100 d-flex justify-content-center align-items-center ">
      <div class="form-signin ">
          <form action="" method="POST">
              {% csrf_token %}
              <h2 class="mb-5 text-center  fw-normal">Forgot Password</h2>
      
      
              <div class="form-floating">
                  <input type="text" class="form-control " name='email' id="floatingInput" placeholder=" ">
                  <label for="floatingInput">Email id
                    <span class="text-danger"><small> *</small></span>
                  </label>
              </div>
      
              {% if messages %}
                  {% for message in messages %}
                      <p {% if message.tags %}
                          class="text-{{ message.tags }} text-center pb-3"
                      {% endif %} id="message">{{ message }}</p>
                  {% endfor %}
              {% endif %}
      
              <button class="w-100 btn text-uppercase py-2" type="submit">Submit</button>
              
              <p class="text-center pt-4">Are you new? Welcome!  <a href="{% url 'register' %}">Create an account</a></p>
              <p class="text-center pt-2">Back to <a href="{% url 'login' %}">Login Page</a></p>
          </form>
        </div>
      </main>

{% endblock %}