{% extends 'layout-cart.html' %}
{% load static %}

{% block head %}

<title>Cart</title>
<link rel="stylesheet" href="{% static 'styles/checkout.css' %}">


{% endblock %}


{% block body %}


<div class="container-checkout  px-5 py-5 mx-auto">


  <header class="mb-5">
    <div class="d-flex justify-content-center align-items-center pb-3 ">
      <div class="px-sm-5 px-2 active">CART
        <span class="fas fa-check"></span>
      </div>
      <div class="px-sm-5 px-2">DETAILS</div>
      <div class="px-sm-5 px-2">SHIPPING</div>
      <div class="px-sm-5 px-2">PAYMENT</div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </header>


  <div class="container-fluid px-0">

    <!-- form -->
    <div class="row ">
      <div class=" col-12 col-lg-7 mb-5 shippin-address">
        <div class="h5 pb-3">Shipping Address</div>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="email" class="form-control " name='email' id="floatingemail" placeholder=" " required>
            <label for="floatingemail">Email id
              <span class="text-danger"><small> *</small></span>
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control " name='mobile_number' id="floatingMobileNumber" placeholder=" "
              required>
            <label for="floatingMobileNumber">Mobile Number
              <span class="text-danger"><small> *</small></span>
            </label>
          </div>
          <div class="d-flex form-floating-double justify-content-between">
            <div class="form-floating col-6 mb-3">
              <input type="text" class="form-control " name='first_name' id="floatingFirstName" placeholder=" "
                required>
              <label for="floatingFirstName">First Name
                <span class="text-danger"><small> *</small></span>
              </label>
            </div>
            <div class="form-floating col-6 mb-3">
              <input type="text" class="form-control " name='last_name' id="floatingLastName" placeholder=" ">
              <label for="floatingLastName">Last Name
              </label>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control " name='address' id="floatingAddress" placeholder=" " required>
            <label for="floatingAddress">Address
              <span class="text-danger"><small> *</small></span>
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control " name='landmark' id="floatingInput" placeholder=" ">
            <label for="floatingInput">Landmark (optional)
            </label>
          </div>
          <div class="d-flex form-floating-double justify-content-between">
            <div class="form-floating col-6 mb-3">
              <input type="text" class="form-control " name='first_name' id="floatingCity" placeholder=" " required>
              <label for="floatingCity">City
                <span class="text-danger"><small> *</small></span>
              </label>
            </div>
            <div class="form-floating col-6 mb-3">
              <input type="number" class="form-control " name='first_name' id="floatingPincode" placeholder=" "
                required>
              <label for="floatingPincode">PIN code
                <span class="text-danger"><small> *</small></span>
              </label>
            </div>
          </div>
          <div class="d-flex form-floating-double justify-content-between">
            <div class="form-floating col-6 mb-3">
              <input type="text" class="form-control " name='first_name' id="floatingState" placeholder=" " required>
              <label for="floatingState">State
                <span class="text-danger"><small> *</small></span>
              </label>
            </div>
            <div class="form-floating col-6 mb-3">
              <input type="text" class="form-control " name='first_name' id="floatingCountry" placeholder=" " required>
              <label for="floatingCountry">Country
                <span class="text-danger"><small> *</small></span>
              </label>
            </div>
          </div>
          <div class=" d-flex justify-content-center ">
            <div class=" col-12 ">
              <div class=" ">
                <div class=" px-0 align-self-center">
                  <div class=" d-flex justify-content-between">
                    <a href="{% url 'cart' %}" class=" btn btn-invert py-2 my-2">BACK TO CART</a>
                    <a href="">
                      <button type="submit" class=" btn py-2 my-2  ">CONTINUE TO SHIPPING</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class=" col-12 col-lg-5 ps-lg-5 ">
        <div class="order-summery">
          <div class="h5 pb-3">Order Summary</div>
          {% for cart_item in cart_items %}
          <div class="d-flex justify-content-between py-3">
            <div class="d-flex justify-content-start col-10">
              <div class="book">
                <a href="#">
                  <img src="{{ cart_item.product.cover_image.url }}" class="book-img">
                </a>
              </div>
              <div class="ps-2 my-auto flex-column d-flex">
                <h6 class="mb-0 ">{{ cart_item.product.name }}</h6>
                {% for item in cart_item.variation.all %}
                <p class=""><small>{{ item.variation_value | capfirst }} </small></p>
                {% endfor %}
                <p class=" pt-2">{{ cart_item.quantity }} x ₹ {{cart_item.product.price}} </p>
              </div>
            </div>
            <div class="my-auto">
              <h6 class=" pt-2">₹&nbsp;{{cart_item.item_total}}</h6>
            </div>
          </div>
          {% endfor %}
          <div class="border-top py-3">
            <div class=" d-flex justify-content-between">
              <div class="form-floating col-9 pe-3">
                <input type="text" class="form-control " name='coupon' id="floatingCoupon" placeholder=" " required>
                <label for="floatingCoupon">Dicount coupon
                </label>
              </div>
              <a href="" class="btn-float-input btn btn-invert col-3 ">Apply</a>
            </div>
          </div>
          <div class="border-top py-3">
            <div class="d-flex justify-content-between pb-2">
              <p>Subtotal</p>
              <p>₹ {{ sub_total }} INR</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>Shipping</p>
              {% if shipping_charge %}
              <p>₹ {{shipping_charge}} INR</p>
              {% else %}
              <p class="text-success">Free Delivery</p>
              {% endif %}
            </div>
          </div>
          <div class="border-top py-3">
            <div class="d-flex justify-content-between">
              <h5>Total</h5>
              <h5>₹ {{total}} INR</h5>
            </div>
            
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



{% endblock %}


{% block script %}


{% endblock %}