{% extends 'layout.html' %}
{% load static %}


{% block head %}

<title>Products</title>
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{% endblock %}


{% block body %}

{% if not product_count %}
<div class=" empty-search text-center d-flex flex-column justify-content-center">
  <h4 class=" fw-normal">OOPS! NO ITEM FOUND</h4>
  <p class="text-muted">Try again</p>
</div>

{% else %}

<section class="gallery">
  <div class="container mx-md-5 px-md-4" >
      <div class="row ">
        {% if 'search' in request.path %}
            <div class="col-12 text-center m-5">
              <h4 class="search-heading fw-normal">SEARCH RESULTS</h4>
              <p class="text-muted">{{ product_count }} items found for keyword '{{ keyword }}'</p>
            </div>
        {% endif %}


          {% for product in products %}
          <div class=" col-6 col-md-4 col-lg-3 mb-3 px-1">
              <div class="card mx-3">
                  <div class="img-container">
                    <a href="{{ product.get_url }}" >
                      <img src='{{ product.cover_image.url }}'  alt="{{product.name}} cover image" class="image card-img-top px-lg-5 pt-lg-5 px-4 pt-4">
                    </a>
                    <div class="overlay text-nowrap">
                        <a href="{{ product.get_url }}" class="btn btn-outline-secondary btn-sm btn-invert"><i class="far fa-eye mr-2"></i>&nbsp; View</a>
                        <button product_id="{{ product.id }}" name="add to wishlist button" class="btn btn-outline-secondary btn-sm btn-invert addToWishlistButton"><i class="far fa-heart"></i></button>
                    </div>
                  </div>
                  <div class="card-body text-center">
                      <a href="{{ product.get_url }}" >
                        <h6 class="card-title mb-1">{{ product.name }}</h6>
                      </a>
                      <p class="mb-2"><small>{{ product.author }}</small></p>

                      <div class="rating-star mb-3">
                        <span>
                          <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        </span>
                        <small class="text-muted">
                          ( {{ product.review_count}} )
                        </small>
                      </div>

                      {% if product.offer_price == product.price %}
                      <h6>₹ {{product.price}}</h6>
                      {% else %}
                      <div>
                        <span class="h6">₹ {{product.offer_price}} </span>
                        <span class="text-muted small" style="text-decoration: line-through;">₹ {{product.price}}</span>
                        <span class="text-success small"> ( {{ product.offer }}% OFF ) </span>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>

<!-- paginator -->
{% if 'search' in request.path %}
<nav aria-label="Page navigation example">
  {% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?keyword={{keyword}}&page={{ products.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for i in products.paginator.page_range%}
    {% if products.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}

    {% if products.has_next %}
    <li class="page-item">
      <a class="page-link" href="?keyword={{keyword}}&page={{ products.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>

{% else %}

<nav aria-label="Page navigation example">
  {% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ products.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for i in products.paginator.page_range%}
    {% if products.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}

    {% if products.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ products.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>

{% endif %}


{% endif %}



{% endblock %}

{% block script %}

<script>
  $(document).ready(function () {
    $('.addToWishlistButton').click(function (e) {
      e.preventDefault();

      var product_id = $(this).attr('product_id');

      '{% if request.user.is_authenticated %}'
      $.ajax({
        method: "GET",
          url: "/account/wislist/add-to-wislist/" + product_id,
        dataType: "json",
        success: function (response) {
        }
      });
      '{% else %}'
      window.location.href = '{% url "login" %}'
      '{% endif %}'
    });
  });
</script>

{% endblock %}