{% extends 'layout.html' %}
{% load static %}


{% block head %}

<title>Products</title>
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{% endblock %}


{% block body %}

{% if not product_count %}
<div class=" empty-search text-center d-flex flex-column justify-content-center">
  <h4 class=" fw-normal">OOPS! NO ITEM FOUND</h4>
  <p class="text-muted">Try again</p>
</div>

{% else %}

<section class="gallery">
  <div class="container">
      <div class="row">
        {% if 'search' in request.path %}
            <div class="col-12 text-center mb-5">
              <h4 class="search-heading fw-normal">SEARCH RESULTS</h4>
              <p class="text-muted">{{ product_count }} items found for keyword '{{ keyword }}'</p>
            </div>
        {% endif %}

          {% for product in products %}
          <div class=" col-6 col-md-4 col-lg-3 mb-3 px-1">
              <div class="card mx-3">
                  <div class="img-container">
                    <a href="{{ product.get_url }}" >
                      <img src='{{ product.cover_image.url }}'  alt="" class="image card-img-top px-5 pt-5">
                    </a>
                    <div class="overlay text-nowrap">
                        <a href="{{ product.get_url }}" class="btn btn-outline-secondary btn-sm btn-invert"><i class="far fa-eye mr-2"></i>&nbsp; View</a>
                        <a href="{% url 'add-to-wishlist' product.id %}" class="btn btn-outline-secondary btn-sm btn-invert"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                  <div class="card-body text-center">
                      <a href="{{ product.get_url }}" >
                        <h6 class="card-title mb-1">{{ product.name }}</h6>
                      </a>
                      <p class="mb-2"><small>{{ product.author }}</small></p>

                      <!-- Ratings -->
                      <div class="rating-star mb-3">
                        <span>
                          <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                          <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        </span>
                        <small class="text-muted">
                          ( {{ product.review_count}} )
                        </small>
                      </div>

                      <h6 class="card-subtitle mb-0 text-muted">&#8377;{{ product.price }}</h6>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>

{% endif %}



{% endblock %}