{% load static %}

<div class="footer-cart">
  <div class="container" >
    <div class="row g-0">
      <div class="row g-0 d-flex justify-content-between my-4">
        <div class="col-12 col-md-10 policy">
          <ul class="list-unstyled list-inline list-group-horizontal">
            <li class="list-group-item text-md-left text-center"><a href="">Refund Policy</a></li>
            <li class="list-group-item text-md-left text-center"><a href="">Privacy Policy</a></li>
            <li class="list-group-item text-md-left text-center"><a href="">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-12 pt-2 text-center contact text-md-end d-none d-sm-block">
          <a href="">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>