{% load static %}

<div class="footer-cart">
  <div class="container" >
    <div class="row">
      <div class="d-flex justify-content-between my-4">
        <div class="policy">
          <ul class="list-unstyled list-inline list-group-horizontal">
            <li class="list-group-item"><a href="">Refund Policy</a></li>
            <li class="list-group-item"><a href="">Privacy Policy</a></li>
            <li class="list-group-item"><a href="">Terms of Service</a></li>
          </ul>
        </div>
        <div class="contact">
          <a href="">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>