{% load static %}

<nav class="fixed-top navbar-top">
  <p class="text-center pt-md-2">FREE SHIPPING FOR ORDERS ABOVE ₹499 . 10% OFF ON FIRST PURCAHSE</p>
</nav>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-bottom">
  <div class="container-fluid ">


    <section class="section-left ms-4 d-flex justify-content-start">

      <button class="navbar-toggler" name="navigation toggle button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <iconify-icon icon="fluent:navigation-20-regular"></iconify-icon>
      </button>

      <a class="navbar-brand" href="{% url 'home' %}">
        <img class='brand-logo' src="{% static 'images/readablelogo.png' %} " alt="readable-brand-logo">
      </a>
    </section>

    <section class="section-right me-3 order-lg-2">
      <div class="nav-icones d-flex justify-content-end ">
        <ul class="list-unstyled my-auto user-dropdown">
          
          <li>
            <a class="navbar-icon " href="#" data-bs-toggle="modal" data-bs-target="#searchModal">
              <iconify-icon icon="bytesize:search"></iconify-icon>
            </a>
          </li>
          <li class="nav-item navbar-dropdown dropdown-user dropdown mx-4">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <div class="avatar avatar-online">
                <iconify-icon icon="simple-line-icons:user"></iconify-icon>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-user mt-0 p-0">
              <li>
                <a class="dropdown-item" href="{% url 'user-dashboard' %}">
                  <div class="d-flex">
                    <div class="flex-shrink-0 ms-2 me-3">
                      <div class="avatar avatar-online">
                        {% if profile_picture %}
                        <img src="{{ profile_picture }}"  style="width:3rem;height:3rem;" alt="user profile picture" class="w-px-40 h-auto rounded-circle" />
                        {% else %}
                        <img src="{% static 'images/avatar-basic-user.png' %} "  style="width:3rem !important; height:3rem !important;" alt="user profile picture" class="w-px-40 h-auto rounded-circle" />
                        {% endif %}
                      </div>
                    </div>
                    <div class="flex-grow-1 my-auto">
                      <span class="fw-semibold d-block ">{{ request.user.first_name }}</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="dropdown-divider my-0"></div>
              </li>
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'user-profile' %}">
                  <i class="bx bx-user me-2"></i>
                  <span class="align-middle">My Profile</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bx bx-cog me-2"></i>
                  <span class="align-middle">Settings</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'wishlist' %}">
                  <i class="bx bx-home me-2"></i>
                  <span class="align-middle">Wishlist</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'user-orders' %}">
                  <i class="bx bx-home me-2"></i>
                  <span class="align-middle">Orders</span>
                </a>
              </li>
              
              <li>
                <div class="dropdown-divider my-0"></div>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="bx bx-power-off me-2"></i>
                  <span class="align-middle">Log Out</span>
                </a>
              </li>
              {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'login' %}">
                  <i class="bx bx-cog me-2"></i>
                  <span class="align-middle">Login</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'register' %}">
                  <i class="bx bx-home me-2"></i>
                  <span class="align-middle">Register</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </li>

          <li>
            <a class="navbar-icon" href="{% url 'wishlist'%}">
              <iconify-icon icon="bi:heart"></iconify-icon>
            </a>
          </li>
          <li>
            <a class="navbar-icon position-relative" href="{% url 'cart' %}">
              <iconify-icon icon="bi:bag"></iconify-icon>
              
              <span  id="cartCountBadge" class="position-absolute bottom-50 start-50   badge rounded-pill cart-badge {% if cart_count == 0 %} d-none {% endif %}">
                {{ cart_count }}
                <span class="visually-hidden"></span>
              </span>
            </a>
          </li>
        </ul>
      </div>

    </section>


    <section class="section-middle order-lg-1 ">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-categories">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'products' %}">Best Sellers</a>
          </li>
          {% if category_links %}
          {% for category in category_links %}
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle active" href="" data-bs-toggle="dropdown">
              {{ category.category_name}}</a>
            <ul class="dropdown-menu list-unstyled category-list ">
              {% if sub_category_links %}
              {% for sub_category in sub_category_links %}
              {% if sub_category.category_id == category.pk %}
              <li><a class="dropdown-item" href="{{ sub_category.get_url }}"> {{ sub_category.subcategory_name }} </a>
              </li>
              {% endif %}
              {% endfor %}
              {% endif %}
              <li><a class="dropdown-item" href="{{ category.get_url }}"> View All </a></li>
            </ul>
          </li>
          {% endfor %}
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle active" href="" data-bs-toggle="dropdown"> Languages </a>
            <ul class="dropdown-menu list-unstyled category-list">
              {% if language_links %}
              {% for language in language_links %}
              <li><a class="dropdown-item" href="{{ language.get_url }}"> {{ language.language_name }} </a></li>
              {% endfor %}
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'products' %}"> View All </a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{% url 'products' %}">New Arrivals</a>
          </li>
        </ul>
      </div>

    </section>

  </div>
</nav>



<!-- search modal -->

<div class="modal fade" id="searchModal"  tabindex="-1"
  aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class='brand-logo' src="{% static 'images/readablelogo.png' %} " alt="readable-brand-logo">
        </a>
        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center d-flex flex-column justify-content-center">
        <form action="{% url 'search' %}" name="search_form">
          <div class=" mb-5 d-flex justify-content-center">
            <input type="search" class="btn btn-invert py-3 w-50 text-start border-search-input"
            placeholder="SEARCH IN OUR SHOP" name="keyword" autofocus="autofocus" id="search" >
            <button type="submit" name='search submit button' class="btn btn-invert py-3 px-4 border-search" id="search-btn">
                <iconify-icon icon="bytesize:search"></iconify-icon>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- /search modal -->


<script type="text/javascript">
  //	window.addEventListener("resize", function() {
  //		"use strict"; window.location.reload(); 
  //	});

  document.addEventListener("DOMContentLoaded", function () {


    /////// Prevent closing from click inside dropdown
    document.querySelectorAll('.dropdown-menu').forEach(function (element) {
      element.addEventListener('click', function (e) {
        e.stopPropagation();
      });
    })



    // make it as accordion for smaller screens
    if (window.innerWidth < 992) {

      // close all inner dropdowns when parent is closed
      document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
        everydropdown.addEventListener('hidden.bs.dropdown', function () {
          // after dropdown is hidden, then find all submenus
          this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
            // hide every submenu as well
            everysubmenu.style.display = 'none';
          });
        })
      });

      document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
        element.addEventListener('click', function (e) {

          let nextEl = this.nextElementSibling;
          if (nextEl && nextEl.classList.contains('submenu')) {
            // prevent opening link if link needs to open dropdown
            e.preventDefault();
            console.log(nextEl);
            if (nextEl.style.display == 'block') {
              nextEl.style.display = 'none';
            } else {
              nextEl.style.display = 'block';
            }

          }
        });
      })
    }
    // end if innerWidth

  });
    // DOMContentLoaded  end

  let button = document.getElementById("search-btn")
  let input = document.getElementById("search")

  input.addEventListener("input", function (e) {
    if (input.value.length == 0) {
      button.disabled = true
    } else {
      button.disabled = false
    }
  })
  
</script>