{% load static %}

<div class="d-flex flex-column flex-shrink-0 bg-lightn sidebar" >
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <div>
        <header class="text-center">
          <div class="image my-4">
            <a href="#">
              {% if profile_picture %}
              <img src="{{ profile_picture }}" style="border-radius: 50% !important; width: 100px;  height: 100px;">
              {% else %}
              <img src="https://www.w3schools.com/howto/img_avatar2.png" style="border-radius: 50% !important; width: 100px; height: 100px;">
              {% endif %}
            </a>
          </div>
          <h5 class="mt-4 mb-1">
            {{request.user.full_name}}
          </h5>
          <p class="small mb-4 pb-2">{{ request.user.email }}</p>
      
        </header>
    </div>
  </a>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item ">
      <a href="{% url 'user-dashboard' %}" class="{% if request.path == '/account/dashboard/' %} active {% endif %} nav-link py-3 d-flex align-items-center border-top border-start border-end " aria-current="page">
        <iconify-icon icon="mdi-light:view-dashboard" width="20" flip="horizontal" class="me-3"></iconify-icon>
        Overview
      </a>
    </li>
    <li class="nav-item ">
      <a href="{% url 'user-profile' %}" class="{% if 'profile' in request.path %} active {% endif %} nav-link py-3 d-flex align-items-center border-top border-start border-end">
        <iconify-icon icon="system-uicons:user-male-circle" width="20" flip="horizontal"class="me-3"></iconify-icon>
        Profile
      </a>
    </li>
    <li class="nav-item ">
      <a href="{% url 'user-orders' %}" class="{% if 'orders' in request.path %} active {% endif %} nav-link py-3 d-flex align-items-center border-top border-start border-end">
        <iconify-icon icon="ph:package-light" width="20" class="me-3"></iconify-icon>
        Orders
      </a>
    </li>
    <li class="nav-item ">
      <a href="{% url 'user-address' %}" class="{% if 'address' in request.path %} active {% endif %} nav-link py-3 d-flex align-items-center border-top border-start border-end">
        <iconify-icon icon="ep:map-location" width="20"  class="me-3"></iconify-icon>
        Addresses
      </a>
    </li>
    <li class="nav-item ">
      <a href="{% url 'logout' %}" onclick="logoutConfirm(event)" class="nav-link py-3 d-flex align-items-center border-top border-start border-end border-bottom">
        <iconify-icon icon="clarity:logout-line" width="20" flip="horizontal" class="me-3"></iconify-icon>
        Logout
      </a>
    </li>
  </ul>
</div>

<script src="{% static 'scripts/user-dashboard.js'%}"></script>