{% load static %}

<footer class="sub-footer">
  <div class="container my-4 py-4">
    <div class="row g-0">
      <div class="col-12 col-lg-4">
        <div class="my-5 d-flex justify-content-center sub-footer-border">
          <div class="icon">
            <img src="{% static 'images/order-icon.png' %}" alt="shipping and order icon">
          </div>
          <div class="content align-self-center me-4">
            <h6>FREE SHIPPING & RETURN</h6>
            <p><small>Free Shipping over ₹500</small></p>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class=" my-5 d-flex justify-content-center sub-footer-border">
          <div class="icon">
            <img src="{% static 'images/money-icon.png' %}" alt="money back guarantee icon">
          </div>
          <div class="content align-self-center me-4">
            <h6>MONEY BACK GUARANTEE
            </h6>
            <p><small>30 Days Money Back Guarantee
              </small></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 ">
        <div class="my-5 d-flex justify-content-center">
          <div class="icon">
            <img src="{% static 'images/support-icon.png' %}" alt="customer support icon">
          </div>
          <div class="content align-self-center me-4">
            <h6>CUSTOMER SUPPORT

            </h6>
            <p><small>24/7 Available Support</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>