html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

a{
    text-decoration: none;
}



.text-error {
    color: #dc3545;
}


form p {
  font-size: .9rem;
}
