.container-checkout {
  margin-bottom: 5rem;
  padding: 0 7rem !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book {
  width: 15%;
}

.book img {
  width: 100%;
}

header {
  padding: 20px 0px;
}

header .active {
  font-weight: 700;
  position: relative;
}

header .active .fa-check {
  position: absolute;
  left: 44%;
  bottom: -27px;
  background-color: #fff;
  font-size: 0.7rem;
  padding: 5px;
  border: 1px solid #008000;
  border-radius: 50%;
  color: #008000;
}

.progress {
  height: 2px;
  background-color: #ccc;
}

.progress div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress .progress-bar {
  width: 55%;
}

.order-summery {
  background-color: #8e8c6d23;
  padding: 1.5rem;
}


@media(min-width:768px) and (max-width: 991px) {
  .progress .progress-bar {
    width: 57%;
  }

  .container-checkout {
    padding: 0 5.rem !important;
  }

}

@media(min-width: 576px) and (max-width: 767px) {
  .progress .progress-bar {
    width: 59%;
  }

  .container-checkout {
    padding: 0 4rem !important;
  }

}

@media(max-width: 575px) {
  .progress .progress-bar {
    width: 55%;
  }

  .container-checkout {
    padding: 0 2rem !important;
  }

  header .active .fa-check {
    left: 37%;
    padding: 3px;
    bottom: -20px;
    font-size: 0.5rem;
  }

}

label.box {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid #ddd
}

input[type="radio"]:checked~label.first
{
  border-color: #8b8538
}

input[type="radio"]:checked~label.first .circle
{
  border: 6px solid #8e8c6d;
  background-color: #fff
}

label.box:hover {
  background: #f3f2e5
}

label.box .course {
  display: flex;
  align-items: center;
  width: 100%
}

label.box .circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #ddd;
  display: inline-block
}

input[type="radio"] {
  display: none
}