{% extends 'administrator/layout.html' %}
{% load static %}

{% block title %}

{% endblock %}



{% block head %}

{% endblock %}




{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="d-flex justify-content-between">
    <h6 class="fw-bold py-3 mb-4 w-75"><span class="text-muted fw-light">Home /</span> Category Management</h6>
    <button type="button" class="btn btn-primary  my-3 align-items-center text-nowrap" data-bs-toggle="modal" data-bs-target="#modalCenterCategory">
      Add Category
    </button>
  </div>

  <div class="modal fade" id="modalCenterCategory" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Create a new category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" , method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3">
                <label for="nameWithTitle" class="form-label">{{ category_form.category_name.label }}</label>
                {{ category_form.category_name }}
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="taglineWithTitle" class="form-label">{{ category_form.tagline.label }}</label>
                {{ category_form.tagline }}
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="descriptionWithTitle" class="form-label">{{ category_form.description.label }}</label>
                {{ category_form.description }}
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="nameWithTitle" class="form-label">{{ category_form.image.label }}</label>
                {{ category_form.image }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <input type="submit" name="category_submit" class="btn btn-primary" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Filled Pilles -->
  <div class="col-xl-12">
    <h6 class="text-muted">Categories</h6>
    <div class="nav-align-top mb-4">
      <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
        {% for category in categories %}
        <li class="nav-item">
          <button type="button" class="nav-link {% if forloop.first %} active {% endif %}" role="tab"
            data-bs-toggle="tab" data-bs-target="#nave-pills-{{category.id}}" aria-controls="nave-pills-{{category.id}}"
            aria-selected="false">
            <i class="tf-icons bx bx-user"></i> {{ category.category_name }}
          </button>
        </li>
        {% endfor %}
        <li class="nav-item">
          <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-languages"
            aria-controls="navs-pills-languages" aria-selected="false">
            <i class="tf-icons bx bx-message-square"></i> Languages
          </button>
        </li>
        
      </ul>
      <div class="tab-content">



        <!-- Tab Test -->
        {% for category in categories %}
        <div class="tab-pane fade {% if forloop.first %} show active {% endif %} " id="nave-pills-{{category.id}}"
          role="tabpanel">
          <div class="card">
            <div class="d-flex justify-content-between">
              <h5 class="card-header w-50">Sub-categories</h5>
              <div class="d-flex justify-content-between">

                <div class="btn-group m-3">
                  <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCenter{{category.id}}">Add Sub-category</a></li>
                    <li>
                      <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCategoryModal{{category.id}}">
                        Edit This Category
                      </button>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'del-category' pk=category.id %}"
                        onclick="deleteconfirm(event,'{{category.category_name}}')">
                        Delete This Category
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            
            <!-- Edit category modal -->
            <div class="modal fade" id="editCategoryModal{{category.id}}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryModal">Edit category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="{% url 'edit-category' category.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="row">
                        <div class="col mb-3">
                          <label for="categoryName" class="form-label">Category Name</label>
                          <input type="text" name="category_name" id="categoryName" class="form-control" placeholder="Category Name" value="{{ category.category_name}}">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="categoryTagline" class="form-label">Tagline</label>
                          <textarea  name="tagline" id="categoryTagline" class="form-control" placeholder="Tagline" rows="2"> {{ category.tagline}}</textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="categoryDescriptipon" class="form-label">Descriptipon</label>
                          <textarea  name="description" id="categoryDescriptipon" class="form-control" placeholder="Tagline" rows="5"> {{ category.description}}</textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="categoryImage" class="form-label">Image</label>
                          <img src="{% if category.image %}{{ category.image.url}} {% endif %}" width="100" alt="Category Image" class=" border p-2 mb-1 image-fluid">
                          <input type="file" name="image" id="categoryImage" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Add a new Sub-category modal -->
            <div class="modal fade" id="modalCenter{{category.id}}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Add a new Sub-category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">
                            {{ sub_category_form.subcategory_name.label}}
                          </label>
                          {{ sub_category_form.subcategory_name }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ sub_category_form.category.label }}</label>
                          {{ sub_category_form.category }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ sub_category_form.tagline.label}}</label>
                          {{ sub_category_form.tagline }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ sub_category_form.description.label}}</label>
                          {{ sub_category_form.description }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ sub_category_form.image.label }}</label>
                          {{ sub_category_form.image }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ sub_category_form.discount.label }}</label>
                          {{ sub_category_form.discount }}
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <input type="submit" name="sub_category_submit" class="btn btn-primary" value="Save">
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="table-responsive text-nowrap">
              <table class="table " id="user_table">
                <thead>
                  <tr>
                    <th>Serial No</th>
                    <th>Sub-Category Name</th>
                    <th>Discount %</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if sub_categories %}
                  {% for sub_category in sub_categories %}
                  {% if sub_category.category_id == category.id %}
                  <tr>
                    <td><span class="name">{{ forloop.counter }}</span></td>
                    <td><span class="name">{{ sub_category.subcategory_name }}</span></td>
                    <td><span class="name">{{ sub_category.discount }}</span></td>
                    <td>
                      <a type="button" class="btn btn-danger py-1"
                        href="{% url 'del-sub-category' pk=sub_category.id %}"
                        onclick="deleteconfirm(event,'{{sub_category.subcategory_name}}')">
                        Delete
                      </a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary py-1" data-bs-toggle="modal" data-bs-target="#modalEditCategory-{{sub_category.id}}">
                        Edit
                      </button>
                    </td>


                    <!-- edit subcategory -->
                    <div class="modal fade" id="modalEditCategory-{{sub_category.id}}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalEditCategory">Edit Subcategory</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="{% url 'edit-subcategory' sub_category.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="subCategoryName" class="form-label">Subcategory Name</label>
                                  <input type="text" name="subcategory_name" id="subCategoryName" class="form-control" placeholder="Subcategory Name"
                                    value="{{ sub_category.subcategory_name }}">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="subcategoryEditCategory" class="form-label">Category</label>
                                  <select name="category" id="subcategoryEditCategory" class="form-control">
                                    <option value='{{ sub_category.category.id }}'>{{sub_category.category}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="cubCategoryTagline" class="form-label">Tagline</label>
                                  <textarea name="tagline" id="cubCategoryTagline" class="form-control" placeholder="Tagline"
                                    rows="2"> {{ sub_category.tagline}}</textarea>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="SubCategoryDescriptipon" class="form-label">Descriptipon</label>
                                  <textarea name="description" id="SubCategoryDescriptipon" class="form-control" placeholder="Descriptipon"
                                    rows="5"> {{ sub_category.description}}</textarea>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="SubCategoryImage" class="form-label">Image</label>
                                  <img src="{% if sub_category.image %}{{ sub_category.image.url}} {% endif %}" width="100" alt="Category Image"
                                    class=" border p-2 mb-1 image-fluid">
                                  <input type="file" name="image" id="SubCategoryImage" class="form-control">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <label for="subCategoryDiscount" class="form-label">Discount</label>
                                  <input type="number" name="discount" max="99" id="subCategoryDiscount" class="form-control" placeholder="Discount"
                                    value="{{ sub_category.discount}}">
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                              </button>
                              <input type="submit" name="sub_category_submit" class="btn btn-primary" value="Save">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Tab Test -->

        


        <!-- Tab -->
        <div class="tab-pane fade" id="navs-pills-languages" role="tabpanel">
          <div class="card">
            <div class="d-flex justify-content-between">
              <h5 class="card-header w-75">Language categories</h5>
              <div class="btn-group m-3">
                <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCenterLanguage">Add Language</a></li>
                </ul>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalCenterLanguage" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Add a new language</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="" , method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ language_form.language_name.label }}</label>
                          {{ language_form.language_name }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ language_form.description.label }}</label>
                          {{ language_form.description }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <label for="nameWithTitle" class="form-label">{{ language_form.image.label }}</label>
                          {{ language_form.image }}
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <input type="submit" name="language_submit" class="btn btn-primary" value="Save">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /add language modal -->

            <div class="table-responsive text-nowrap">
              <table class="table" id="language_table">
                <thead>
                  <tr>
                    <th>Serial No</th>
                    <th>Language</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if languages %}
                  {% for language in languages %}
                  <tr>
                    <td><span class="name">{{ forloop.counter }}</span></td>
                    <td><span class="name">{{ language.language_name }}</span></td>
                    <td>
                      <a type="button" class="btn btn-danger py-1" href="{% url 'del-language' pk=language.id %}"
                        onclick="deleteconfirm(event,'{{language.language_name}}')">
                        Delete
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Tab -->
        <!-- Tab -->
        <!-- Tab -->

      </div>
    </div>
  </div>
  <!-- /Filled Pilles -->



</div>
{% endblock %}



{% block script %}

<script>
  function deleteconfirm(ev, name) {
    ev.preventDefault();
    var urlToRedirect = ev.currentTarget.getAttribute('href');
    console.log(urlToRedirect);
    swal({
      title: "Are you sure?",
      text: ("Are you sure that you want to delete category " + name + "? All data related to " + name + " will be also deleted!"),
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          swal("Poof! " + name + " has been deleted!", {
            icon: "success",
          });
          window.location.href = urlToRedirect;
        }
      });
  }
</script>

{% endblock %}

