{% extends 'administrator/layout.html' %}
{% load static %}

{% block title %}

{% endblock %}



{% block head %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

{% endblock %}




{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h6 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Product Mangement / Edit Product / </span> {{ product_name }}</h6>

  <!-- Hoverable Table rows -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Edit Product</h5>
        <small class="text-muted float-end">Fill details</small>
      </div>
      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Product Title</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.name }}
                {{ form.name.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname"> {{ form.isbn.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.isbn }}
                {{ form.isbn.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">
              {{ form.sub_category.label}}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.sub_category }}
                {{ form.sub_category.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.language.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.language }}
                {{ form.language.errors }}
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.author.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.author }}
                {{ form.author.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.Publisher.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.Publisher }}
                {{ form.Publisher.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">
              {{ form.release_date.label}}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.release_date }}
                {{ form.release_date.errors }}
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.price.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.price }}
                {{ form.price.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.discount.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.discount }}
                {{ form.discount.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.stock.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                {{ form.stock }}
                {{ form.stock.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">
              {{ form.is_available.label}}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge mt-2">
                {{ form.is_available }}
                {{ form.is_available.errors }}
              </div>
            </div>
          </div>
          <br>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">
              {{ form.cover_image.label}}
            </label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.cover_image }}
                {{ form.cover_image.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.image1.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.image1 }}
                {{ form.image1.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.image2.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.image2 }}
                {{ form.image2.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.image3.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.image3 }}
                {{ form.image3.errors }}
              </div>
            </div>
          </div>

          <br>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.description.label}}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.description }}
                {{ form.description.errors }}
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.number_of_pages.label}}
            </label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.number_of_pages }}
                {{ form.number_of_pages.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.height.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.height }}
                {{ form.height.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.width.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.width }}
                {{ form.width.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.weight.label }}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.weight }}
                {{ form.weight.errors }}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form.spine_width.label}}</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                {{ form.spine_width }}
                {{ form.spine_width.errors}}
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Format</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <div class="form-check mt-2">
                  <input class="form-check-input" name="format[]" type="checkbox" value="paperback" id="paperback"
                  {% for item in product_id.variation_set.all %}
                  {% if item.variation_value == 'paperback'  %} checked 
                  {% endif %}
                  {% endfor %}/>
                  <label class="form-check-label" for="paperback"> Paperback </label>
                </div>
                <div class="form-check mt-2 ms-2">
                  <input class="form-check-input" name="format[]" type="checkbox" value="hardcover" id="hardcover" 
                  {% for item in product_id.variation_set.all %}
                  {% if item.variation_value == 'hardcover'  %} checked 
                  {% endif %}
                  {% endfor %}/>
                  <label class="form-check-label" for="hardcover"> Hardcover </label>
                </div>
                <div class="form-check mt-2 ms-2">
                  <input class="form-check-input" name="format[]" type="checkbox" value="ebook" id="ebook" 
                  {% for item in product_id.variation_set.all %}
                  {% if item.variation_value == 'ebook'  %} checked 
                  {% endif %}
                  {% endfor %}/>
                  <label class="form-check-label" for="ebook"> Ebook </label>
                </div>
                <div class="form-check mt-2 ms-2">
                  <input class="form-check-input" name="format[]" type="checkbox" value="audiobook" id="audiobook" 
                  {% for item in product_id.variation_set.all %}
                  {% if item.variation_value == 'audiobook'  %} checked 
                  {% endif %}
                  {% endfor %}/>
                  <label class="form-check-label" for="audiobook"> Audiobook </label>
                </div>
              </div>
            </div>
          </div>
          {% if messages %}
          {% for message in messages %}
          <p {% if message.tags %} class="text-{{ message.tags }} text-center pb-3" {% endif %} id="message">
            {{ message }}</p>
          {% endfor %}
          {% endif %}

          <div class="row justify-content-end">
            <div class="col-sm-10 d-flex justify-content-between ">
              <a class="btn btn-danger" href="{% url 'del-product' pk=product_id %}"
                onclick="deleteconfirm(event,'{{product_name}}')">
                Delete Product
              </a>
              <input type="submit" id="saveToast" class="btn btn-primary" value="Save">


              <!-- toast success -->
              <div class="position-fixed bottom-0 end-0 p-3">
                <div id="alert" class="toast" class="bs-toast toast fade hide bg-success" role="alert"
                  aria-live="assertive" aria-atomic="true">
                  <div class="toast-header" id="liveToast">
                    <i class="bx bx-bell me-2"></i>
                    <div class="me-auto fw-semibold">Bootstrap</div>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body">
                    hi
                  </div>
                </div>
              </div>
              <!-- /toast success -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--/ Hoverable Table rows -->

{% endblock %}



{% block script %}
<script>
  function deleteconfirm(ev, name) {
    ev.preventDefault();
    var urlToRedirect = ev.currentTarget.getAttribute('href');
    console.log(urlToRedirect);
    swal({
      title: "Are you sure?",
      text: ("Are you sure that you want to delete " + name + "?"),
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          swal("Poof! " + name + " has been deleted!", {
            icon: "success",
          });
          window.location.href = urlToRedirect;
        }
      });
  }

  $(document).ready(function () {
    $("#saveToast").click(function () {
      $('.toast').toast('show');
    });
  });
</script>

{% endblock %}