{% load static %}

<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="{% static 'admin/assets'%}" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    {% block title %}

    {% endblock %}

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/readable-icon-black-1.jpg' %}">


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="{% static 'admin/assets/vendor/fonts/boxicons.css' %} " />

  <script src="https://kit.fontawesome.com/636cd13699.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/vendor/css/core.css'%} " class="template-customizer-core-css" />
  <link rel="stylesheet" href="{% static 'admin/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{% static 'admin/assets/css/demo.css' %} " />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %} " />

  <link rel="stylesheet" href="{% static 'admin/assets/vendor/libs/apex-charts/apex-charts.css' %} " />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="{% static 'admin/assets/vendor/js/helpers.js' %} "></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static 'admin/assets/js/config.js' %} "></script>


  <!-- sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  {% block head %}

  {% endblock %}
</head>

<body>



  <!-- messages alerts -->
  {% include 'include/messages.html' %}

  {% if messages %}
  {% for message in messages %}
  <script>
    $(document).ready(function () {
      $('.toast').toast('show');
    });
  </script>
  {% endfor %}
  {% endif %}


  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo pt-0 mt-2">
          <a href="#" class="app-brand-link d-flex flex-column justify-content-start">
            <img class='brand-logo' src="{% static 'images/readablelogo.png' %} " alt="readabel logo" height="50px" width="200px"
              alt="readable-brand-logo">
            <small style="font-size: .7rem; margin-top: -8px;">Bookstore Admininstrator</small>
          </a>
      
        </div>
      
        <div class="menu-inner-shadow"></div>
      
        <ul class="menu-inner py-4">
          <!-- Dashboard -->
          <li class="menu-item {% if request.resolver_match.view_name == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home"></i>
              <div >Dashboard</div>
            </a>
          </li>
          <li class="menu-item {% if 'user-management' in request.path or 'subscriber-management' in request.path %} active open{% endif %}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons bx bxs-user-detail'></i>
              <div data-i18n="Layouts">User Management</div>
            </a>
          
            <ul class="menu-sub">
              <li class="menu-item {% if request.resolver_match.view_name == 'user-management' %}active{% endif %}">
                <a href="{% url 'user-management' %}" class="menu-link">
                  <div>All Users</div>
                </a>
              </li>
              <li class="menu-item {% if 'subscriber-management' in request.path  %}active{% endif %}">
                <a href="{% url 'subscriber-management' %}" class="menu-link">
                  <div>Subscribers</div>
                </a>
              </li>
            </ul>
          </li>
          <li
            class="menu-item {% if 'order-management' in request.path or 'payment-management' in request.path %} active open{% endif %}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-package"></i>
              <div data-i18n="Layouts">Order Management</div>
            </a>
          
            <ul class="menu-sub">
              <li class="menu-item {% if request.resolver_match.view_name == 'order-management' %}active{% endif %}">
                <a href="{% url 'order-management' %}" class="menu-link">
                  <div>All Orders</div>
                </a>
              </li>
              {% for status in statuses %}
              <li class="menu-item {% if status in request.path  %}active{% endif %}">
                <a href="{% url 'filtered-orders' status %}" class="menu-link">
                  <div>{{status}} Orders</div>
                </a>
              </li>
              {% endfor %}
              
              <li class="menu-item {% if request.resolver_match.view_name == 'payment-management' %}active{% endif %}">
                <a href="{% url 'payment-management' %}" class="menu-link">
                  <div>Payments</div>
                </a>
              </li>
            </ul>
          </li>

          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">inventory</span>
          </li>
          <li class="menu-item {% if request.resolver_match.view_name == 'category-management' %}active{% endif %}">
            <a href="{% url 'category-management' %}" class="menu-link">
              <i class='menu-icon tf-icons bx bx-category'></i>
              <div >Category Management</div>
            </a>
          </li>
          <li class="menu-item {% if request.resolver_match.view_name == 'product-management' or request.resolver_match.view_name == 'add-product' %}active open{% endif %}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-book"></i>
              <div data-i18n="Layouts">Product Management</div>
            </a>
      
            <ul class="menu-sub">
              <li class="menu-item {% if request.resolver_match.view_name == 'product-management' %}active{% endif %}">
                <a href="{% url 'product-management' %}" class="menu-link">
                  <div >Product List</div>
                </a>
              </li>
              <li class="menu-item {% if request.resolver_match.view_name == 'add-product' %}active{% endif %}">
                <a href="{% url 'add-product' %}" class="menu-link">
                  <div >Add Product</div>
                </a>
              </li>
            </ul>
          </li>
          


          <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Pages</span>
          </li>
          <li class="menu-item {% if request.resolver_match.view_name == 'banner-management' %}active{% endif %}">
            <a href="{% url 'banner-management' %}" class="menu-link">
              <i class='menu-icon tf-icons bx bx-image-alt'></i>
              <div>Banner Management</div>
            </a>
          </li>
          <li class="menu-item {% if request.resolver_match.view_name == 'coupon-management' %}active{% endif %}">
            <a href="{% url 'coupon-management' %}" class="menu-link">
              <i class='menu-icon tf-icons bx bxs-coupon'></i>
              <div>Coupon Management</div>
            </a>
          </li>
        </ul>
      </aside>
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">

          <div class="navbar-nav-right d-flex align-items-center justify-content-between" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center w-100">
              
              <form class="w-100" action=" {% if 'order-management' in request.path %} {% url 'order-search' %} 
              {% elif 'payment-management' in request.path %} {% url 'payment-search' %} 
              {% elif 'product-management' in request.path %} {% url 'product-search' %} 
              {% elif 'user-management' in request.path %} {% url 'user-search' %} 
              {% elif 'subscriber-management' in request.path %} {% url 'subscriber-search' %} 
              {% endif %}">
                <div class="nav-item d-flex align-items-center ">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input type="text" name="keyword" class="form-control border-0 shadow-none" placeholder="Search..."
                    aria-label="Search..." />
                </div>
              </form>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-5">
              <!-- Place this tag where you want the button to render. -->
              

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="{% static 'images/readable-icon-black-2.jpg' %}" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <img src="{% static 'images/readable-icon-black-2.jpg' %} " alt="readable logo" class="w-px-40 h-auto rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block">{{ request.user.full_name }}</span>
                          <small class="text-muted">Admin</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-user me-2"></i>
                      <span class="align-middle">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-cog me-2"></i>
                      <span class="align-middle">Settings</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'home' %}">
                      <i class="bx bx-home me-2"></i>
                      <span class="align-middle">Visit Page</span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'admin-logout' %}">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">Log Out</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>

        <!-- / Navbar -->

        {% block content %}

        {% endblock %}

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              <a href="#" target="_blank" class=" footer-link fw-bold">Readable Bookstore</a>
            </div>
          </div>
        </footer>
        <!-- / Footer -->
        

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  {% block script %}

  {% endblock %}

  <!-- Custom JS -->


  <script src="{% static 'scripts/dashboard.js' %} "></script>


  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% static 'admin/assets/vendor/libs/jquery/jquery.js' %} "></script>
  <script src="{% static 'admin/assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'admin/assets/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'admin/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'admin/assets/js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'admin/assets/js/dashboards-analytics.js' %}"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Sweet Alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>