{% extends 'administrator/layout.html' %}
{% load static %}

{% block title %}

{% endblock %}



{% block head %}

{% endblock %}




{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h6 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / User Mangement / </span> Subscriber Management </h6>

  {% if 'search' in request.path %}
  <div class="col-12 text-center mb-5">
    <h4 class="search-heading fw-normal">SEARCH RESULTS</h4>
    <p class="text-muted">{{ subscriber_count }} items found for keyword '{{ request.GET.keyword }}'</p>
  </div>
  {% endif %}


  <!-- Hoverable Table rows -->
  <div class="card">
    <h5 class="card-header">Subscribers</h5>
    <div class="table-responsive text-nowrap">
      <table class="table " id="user_table">
        <thead>
          <tr>
            <th>SN</th>
            <th>Email Address</th>
            <th>Date Subscribed</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% if subscribers %}
          {% for subscriber in subscribers %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ subscriber.email }}</td>
            <td>{{ subscriber.subscribed_date |date }}</td>
            
            <td>
              <a type="button" class="btn btn-danger py-1" href="{% url 'remove-subscription' pk=subscriber.id %}"
                onclick="removeSubscription(event,'{{subscriber.email}}')">
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Hoverable Table rows -->

  
</div>

<!-- paginator -->
<nav aria-label="Page navigation example">
  {% if subscribers.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if subscribers.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ subscribers.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for i in subscribers.paginator.page_range%}
      {% if subscribers.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}

    {% if subscribers.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ subscribers.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>


{% endblock %}



{% block script %}

<script>
  function removeSubscription(ev, email) {
    ev.preventDefault();
    var urlToRedirect = ev.currentTarget.getAttribute('href');
    console.log(urlToRedirect);
    swal({
      title: "Are you sure?",
      text: ("Are you sure that you want to remove " + email + " from the subscribers list?"),
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          swal("Poof! " + email + " has been removed from the subscribers list!", {
            icon: "success",
          });
          window.location.href = urlToRedirect;
        }
      });
  }
</script>


{% endblock %}